* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(31,55,87,1) 0%, rgba(19,21,55,1) 100%);
}

.gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /************* Scoreboard and Title *************/
  .scoreboard {   /* updated tonight*/
    width: 700px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 5px;
  }

  /* updated tonight*/

  .title h1 {      
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    text-align: center;

  }
/******* Score window on the right *******/
  .computerScore {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .computerScore h2 {
    color: #565468;
    font-size:56px;
    font-family: "Barlow", sans-serif;
  }
  
  .computerScore p {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
  }

  /******* Score window on the left *******/
  .playerScore {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .playerScore h2 {
    color: #565468;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
  }
  
  .playerScore p {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
  }
  
/************* Token position *************/

.tokens {
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 100px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.tokens img {
  width: 150px;
  height: 150px;
  display: block;
}

.tokens .rock {
  padding: 10px;
}

.tokens .paper {
  padding: 10px;
}

.tokens .scissors {
  padding: 10px;
}

.tokens .lizard {
  padding: 10px;
}

.tokens .spock {
  padding: 10px;
}

.tokens .token {
  cursor: pointer;
  transition: all 0.25s;
}

.tokens .token:hover {
  transform: translate3d(0px, -8px, 0px);
}
/***************************************************************************
****************************************************************************
***************************************************************************/


.contest {
  display: none;
  margin-top: 50px;
  width: 900px;
}

.contest img {
  width: 275px;
  height: 275px;
}

.contest > div {
  flex: 1;
}

.contest h2 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.contest .newGame {
  color: hsl(229, 25%, 31%);
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s;
}

.newGame:hover {
  background: rgb(218, 218, 218);
  transform: translate3d(0px, -2px, 0px);
}

.contest .tokenImageContainer {
  display: flex;
  justify-content: center;
}

.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referee h2 {
  font-size: 45px;
  color: white;
}

.computerToken {
  display: flex;
  flex-direction: column;
}